@import url("https://fonts.googleapis.com/css?family=Roboto:300i,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

body {
  font-family: "Monserrat", sans-serif;
  font-size: 15px;
  line-height: 1.6;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  margin: 0;
  color: rgb(51, 51, 51);
  font-family: "Montserrat", sans-serif;
}

/* Header */

.logo {
  font-size: 30px;
  font-weight: 700;
  color: rgb(149, 225, 211);
  text-decoration: none;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: bottom;
  padding-top: 28px;
}

/* Navigation */

.nav {
  font-family: "Montserrat", sans-serif;
  line-height: 25px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 500;
  text-transform: uppercase;
}

.nav-link {
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  margin-right: 56px;
  color: rgb(149, 225, 211);
  transition: 0.2s linear;
}

.nav-link::after {
  background-color: #f38181;
  display: block;
  content: "";
  height: 3px;
  width: 0%;
  transition: 0.2s linear;
}

.nav-link:hover {
  color: #f38181;
}

.nav-link:hover::after {
  width: 100%;
  display: block;
}

.nav-link:last-child {
  margin-right: 0px;
}
