@import url("https://fonts.googleapis.com/css?family=Roboto:300i,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

body {
  font-family: "Monserrat", sans-serif;
  font-size: 15px;
  line-height: 1.6;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  margin: 0;
  color: rgb(51, 51, 51);
  font-family: "Montserrat", sans-serif;
}

.title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
}

.text {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: rgb(153, 153, 153);
}

ul li {
  list-style-type: none;
}

/* Header */

.logo {
  font-size: 30px;
  font-weight: 700;
  color: rgb(149, 225, 211);
  text-decoration: none;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: bottom;
  padding-top: 28px;
}

/* Navigation */

.nav {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 25px;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 15px;
}

.nav-link {
  text-decoration: none;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 56px;
  color: rgb(149, 225, 211);
  transition: 0.2s linear;
}

.nav-link::after {
  background-color: #f38181;
  display: block;
  content: "";
  height: 3px;
  width: 0%;
  transition: 0.2s linear;
}

.nav-link:hover {
  color: #f38181;
}

.nav-link:hover::after {
  width: 100%;
  display: block;
}

.nav-link:last-child {
  margin-right: 0px;
}

/* Section of services */

.section {
  padding-top: 60px;
}

.section_header {
  margin-bottom: 100px;
}

.section_title {
  width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

span {
  display: block;
  font-family: "Kaushan Script", sans-serif;
  font-size: 24px;
  text-transform: none;
  margin-bottom: 10px;
}

.services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services_item {
  flex: 1 1 0;
  padding-left: 80px;
  position: relative;
  width: 400px;
  margin-bottom: 90px;
}

.services_img {
  position: absolute;
  top: 0;
  left: 30px;
  z-index: 1;
}

.services_title {
  margin-bottom: 18px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
}

.services_text {
  font-size: 15px;
  color: #999;
}

.section_header:after {
  display: block;
  background-color: #f38181;
  content: "";
  margin-top: 35px;
  height: 3px;
  width: 5%;
  left: 50%;
  position: absolute;
  transition: width 0.2s linear;
  transform: translateX(-50%);
}

.section_header:hover::after {
  width: 280px;
}

/* Section of our team */

.team_description {
  text-align: center;
  line-height: 24px;
  font-size: 15px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #999;
  margin-bottom: 84px;
}

.team_list {
  display: flex;
  justify-content: space-between;
}

.team_list_card {
  display: flex;
  position: relative;
  width: 380px;
  top: 0;
  left: 0;
  align-items: center;
  flex-direction: column;
}

.team_list_img {
  position: relative;
  margin-bottom: 24px;
}

.team_list_card:hover .overlay {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transform: translate(-10px, -10px);
  transition: transform 0.2s linear, box-shadow 0.2s linear;
  background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
  box-shadow: 10px 10px 0px 0px rgba(149, 225, 211, 1);
  cursor: pointer;
}

.team_list_card:hover .team_list_img {
  display: block;
  position: relative;
  transform: translate(-10px, -10px);
  transition: transform 0.2s linear;
}

.team_list_card:hover .overlay-list {
  display: flex;
}

.team_list_position {
  color: #999;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
  line-height: 24px;
}

.team_list_card .overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 70px;
}

.overlay-list {
  display: none;
  width: 224px;
  height: 56px;
  background-color: rgb(252, 227, 138);
}

.overlay-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 56px;
  outline: 1px solid #f38181;
  z-index: 3;
}

.overlay-link {
  color: #f38181;
}

.overlay-item:hover {
  background-color: rgb(149, 225, 211);
}

.team {
  padding-bottom: 80px;
}

/* Footer */

.footer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-top: 1px solid rgb(229, 229, 229);
}

.footer_wrap {
  display: flex;
}

.footer_text {
  color: #999;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin-right: 3px;
}

.footer_link {
  color: #f38181;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.footer_form {
  display: flex;
  outline: 1px solid rgb(231, 231, 231);
}

.footer_form input {
  width: 211px;
  padding: 11px 9px;
  border: 1px solid rgb(231, 231, 231);
  border-right-style: none;
}

.button {
  color: rgb(255, 255, 255);
  background-color: rgb(149, 225, 211);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  border: none;
  outline: none;
  padding: 8px 33px;
  text-transform: uppercase;
  cursor: pointer;
}
