$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$special-font: 'Kaushan Script', cursive;
$main-font-size: 15px;
$secondary-font-size: 14px;

$main-font-color: rgb(153, 153, 153);
$yellow-color: rgb(252, 227, 138);
$white-color: rgb(255, 255, 255);
$pink-color: rgb(243, 129, 129);
$mint-color: rgb(149, 225, 211);
$darkgray-color: rgb(51, 51, 51);
$litegray-color: rgb(231, 231, 231);

$linear-gradient-pink: rgba(243, 129, 129, 0.9);
$linear-gradient-yellow: rgba(252, 227, 138, 0.9);
$linear-gradient-white: rgba(255, 255, 255, 0.9);
$linear-gradient-litegray: rgba(204, 204, 204, 0.9);
$linear-gradient-mint: rgba(149, 225, 211, 0.9);
